<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/7961a727-b997-41ae-ac6c-7cb147eabb8c/resourceGroups/BlackOrchidChat/providers/Microsoft.ContainerRegistry/registries/blackorchidcontainers</ResourceId>
    <ResourceName>blackorchidcontainers</ResourceName>
    <ResourceGroup>BlackOrchidChat</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://blackorchidcontainers.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>15e9d64b-c0d6-48ad-aa26-7d8bbf41bd3f</ProjectGuid>
  </PropertyGroup>
</Project>